.logo {
  @include outer-container;
  padding-left: $logo-width-with-padding;
  position: relative;
}

.logo--image {
  @include position(absolute, 0 null null 0);
  @include size($logo-width 146px);
  background-color: #01254F;
  z-index: $logo-z-index;
}

.logo--text {
  color: $primary-color;
  font-size: em(68);
  font-weight: 200;
  margin-bottom: 0;

  @include media(max-width $mobile-navigation-breakpoint) {
    font-size: 20px;
  }
}

.main-navigation {
  background-color: $primary-color;
  position: relative;
}

.main-navigation--wrapper {
  @include outer-container;
  padding-left: $logo-width-with-padding;
}

.main-navigation--items {
  @include media(max-width $mobile-navigation-breakpoint) {
    display: none;
  }
}

.main-navigation--item {
  display: inline-block;
  vertical-align: top;

  @include media(max-width 925px) {
    font-size: rem(14);
  }

  @include media(max-width $mobile-navigation-breakpoint) {
    display: block;
  }

  &:first-child {
    @include media($mobile-navigation-breakpoint) {
      margin-left: -$base-spacing;
    }
  }

  a {
    color: white;
    display: block;
    padding: $small-spacing $base-spacing;

    @include media(max-width 825px) {
      padding: $small-spacing $small-spacing;
    }

    &:hover {
      background-color: darken(red, 30%);
    }
  }
}

.menu-toggle {
  @include media($mobile-navigation-breakpoint) {
    display: none;
  }
}
