.dropdown {
  $large-screen: em(640) !default;
  $dropdown-distance-from-menu: 50px;

  .dropdown-button {
    cursor: pointer;
  }

  .dropdown-menu {
    @include transition (all 0.2s ease-in-out);
    background-color: green;
    overflow: show;
    text-align: left;

    @include media($mobile-navigation-breakpoint) {
      @include position(absolute, 48px 0 null 0);
      display: none;
    }
  }

  .dropdown-list {
    @include media($mobile-navigation-breakpoint) {
      @include outer-container;
      padding-left: $logo-width-with-padding;
    }
  }

  .dropdown-list--item {
    @include media($mobile-navigation-breakpoint) {
      @include span-columns(12/5);
    }

    a {
      display: block;
      padding: $base-spacing;

      @include media($mobile-navigation-breakpoint) {
        text-align: center;
      }

      &:hover {
        background-color: darken(green, 15%);
      }
    }
  }
}
